{% extends "auctions/layout.html" %}

{% block body %}


    <div id="itemsParent">
        
    </div>



    <button id="clearCart"> Clear Cart </button>



<script>

    function listItems(){
        if(localStorage.getItem('shoppingCart')){
            const shoppingCart = JSON.parse(localStorage.getItem('shoppingCart'));
            console.log(shoppingCart.items);
            return true;
        }
        console.log("cart empty");
        return false;
    }


    function removeCartEntryHtml(){
        document.getElementById('itemsParent').innerHTML = `<div> </div>`;
    }



    document.addEventListener('DOMContentLoaded', function() {

          document.querySelector("#clearCart").onclick = () => {
          listItems();//delete later
          localStorage.clear();
        updateCartNavLink();
                              removeCartEntryHtml();
          listItems(); //delete later

          }
                              
                              const shoppingCart = JSON.parse(localStorage.getItem('shoppingCart'));
                              
                              if(shoppingCart){
                            
                                const items = shoppingCart.items;
                              items.forEach(item => {
                                            document.getElementById('itemsParent').innerHTML += `<div itemsChild> <span class="itemName">${item} </span>  </div>`;

                                            })
                                console.log(items);
                              
                              }else{
                              document.getElementById('itemsParent').innerHTML = `(0) items in cart :/`;
                              }
                                        
                                                                                   
                                
    });



</script>
{% endblock %}
