{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    {% for item in items %}
        <div class="col-lg-6 col-md-6 mb-6 products">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a id="item{{forloop.counter}}" href="#">{{item.item_name}}</a>
                    </h4>
                    <h5>{{item.item_price}}</h5>
                    <p class="card-text">{{item.item_description}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button class="addCartButton" id="button{{ forloop.counter }}" type="submit">Add to Cart</button>
                    </small>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
    {% endblock %}
