{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="ecommerce website for Rüster LLC">
        <meta name="author" content="Aidan Sinclair">
        
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
            
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
                
        <!-- Custom styles for this template -->
        <link href="{% static 'auctions/shop-homepage.css' %}" rel="stylesheet">
        
        <!-- Get Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Outline&display=swap" rel="stylesheet">


            
        <style>
            body{
                padding: 5% 20%;
            }
        
            .banner {
                width: 100%;
                margin: 15px;
            }
        
        .nav2{
            position:relative;
            right: -65%;
            display: flex;
            flex-wrap: wrap;
        }
        body{
            font-family: 'Bungee Hairline', cursive;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            text-align:center;
            padding: 10px;
        }
        .products{
            padding: 5px;
        }
       
       .rustersign{
         color: inherit;
         text-decoration: none;
       }
       
        
        </style>

    </head>
    <body>
        
        <div class="banner">
            
            <h1 style="font-size:400%;"> <a href="{% url 'index' %}" class="rustersign"> Rüster </a> </h1>
            <div class="nav2">
            <ul class="nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">Welcome <strong>{{ user.username }}!</strong> </span>.
                <li>
                {% else %}
                <li class="nav-item">
                    <span class="nav-link">Welcome!</span>
                </li>
                {% endif %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Shop</a>
                </li>
                <li class="nav-item">
                    <a id="cartLink" class="nav-link" href="{% url 'cart' %}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </div>
        
        
            {% block body %}
            {% endblock %}
            
            <script>
                
                /*
                 * Set the localStorage.
                 * Sets 'shoppingCart' to json object {items : []}
                 * Stores in JSON because localStorage only stores strings.
                 */
            if (!localStorage.getItem('shoppingCart')) {
                const emptyObject = {
                    items: []
                };
                // If not, set the counter to 0 in local storage
                console.log(emptyObject.name)
                console.log(JSON.stringify(emptyObject))
                localStorage.setItem('shoppingCart',JSON.stringify(emptyObject));
            }else{
                console.log("local storage not empty");
                //localStorage.clear();
            }
            
            if(!localStorage.getItem('mapOfButtonNamesToItems')){
                //TODO
                //implement function that will take the button names and map them to the product names.
                //impelement this such that this map will update automatically if you add an item from the admin.
            }
            
            
            function addItem(item) {
                // Retrieve counter value from local storage
                const shoppingCart = JSON.parse(localStorage.getItem('shoppingCart'));
                
                console.log(typeof(shoppingCart))
                console.log(shoppingCart)
                // update counter
                //counter++;
                
                shoppingCart.items.push(item);
                //document.querySelector('h1').innerHTML = counter;
                
                // Store counter in local storage
                localStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
                
            }
            
            /*
             * functionality to get the number of items to appear next to the cart nav link.
             */
            function updateCartNavLink(){
                const cartLink = document.querySelector("#cartLink");
                const shoppingCart = localStorage.getItem('shoppingCart');
                if (shoppingCart == null){
                    cartLink.innerHTML = "Cart (0)";
                }else{
                    const numItemsInShoppingCart = JSON.parse(shoppingCart).items.length;
                    cartLink.innerHTML = `Cart (${numItemsInShoppingCart})`;
                }
            }
            
            
            document.addEventListener('DOMContentLoaded', function() {
                                      // Set heading to the current value inside local storage
                                      //document.querySelector('h1').innerHTML = localStorage.getItem('counter');
                                      //document.querySelector('button').onclick = count;
                                      
                                      //
                                      updateCartNavLink();
                                      
                                      console.log((localStorage.getItem('shoppingCart')));
                                      
                                      const items = document.querySelectorAll(".addCartButton");
                                      
                                      items.forEach(button => {
                                                    button.onclick = () => {
                                                    console.log("before ")
                                                    console.log(localStorage.getItem('shoppingCart'));
                                                    addItem(button.id);
                                                    updateCartNavLink();
                                                    console.log("after " )
                                                    console.log(localStorage.getItem('shoppingCart'));
                                                    
                                                    };
                                                    });
                                      });
                                      
                                      
                                    

            </script>

    </body>
</html>
